.footer {
    /* width: auto; */
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }
  
  .footerPar{
    position: relative;
  }
  .banner{
    z-index: -1;
    width: 100%;
    position: absolute;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: flex;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    /* flex: 1; */
    width: 100px !important;    
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .icons {
    margin-top: 25px;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  .logo {
    height: 40px;
  }
  /* footer center*/
  
  .footer .footer-center {
    width: 33%;
  }
  
  .footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #0099ff;
    /* text-decoration: none; */
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 200px;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #0099ff;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    /* text-decoration: none; */
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #0099ff;
  }
  
  .footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }
  /* ////////////////////////////////////////////  */

  .myfoot{
    display: flex;
    justify-content: space-between;
  }

  .col{
    margin: 2% 5%;
    color: rgb(160, 160, 160);
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .col1{
    margin: 0.5% 5%;
    color: white;
    min-width: 300px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .col p{
    line-height: 15px;
    transition: all 0.3s ease-in-out;
    transition-duration: 0.3s;
    }
  .sp
  {
      position: relative;
      width: fit-content;
  }

  .sp:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;    
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }

  .sp:hover:before {
    visibility: visible;
    width: 100%;
  }   
  .sp:hover{
    cursor: pointer;
    color: white;
  }
  /* .col p:hover{
    color: white;
    cursor: pointer;
    visibility: visible;
    transform: scaleX(1);
    text-decoration: underline;
  } */

  .icons{
    animation-delay: 2000ms;
    /* animation-duration: 2000ms; */
    display: flex;
  }

  .icon{
    margin: 2px 10px ;
    border-style: solid;
    border-width: 2px;
    padding: 5px 5px 1px 5px;
  }

  .icons :hover{
    cursor: pointer;
    border-color: #004e68;
  }

  .ska{
    font-size: 4rem;
  }

  .fspan{
    text-align: center;
    color: rgba(255, 255, 255, 0.755);
  }

  .shortHead{
    color: white;
  }