.loan_model {
    border-radius: 10px;
    padding: 20px;
    margin: 2% 20%;
}

.second {
    text-align: center;
    /* margin: 2% 5%; */
    position: relative;
    /* animation-name: example; */
    /* animation-duration: 2s; */
    /* animation-delay: 2s; */
  }
/*   
  @keyframes example {
    0%   {left:0px; top:0px;}
    50%  {left:0; top:-100px;}
    100% {left:0px; top:0px;}
  } */


.loan {
    font-size: 2rem;
    color: black(224, 104, 104);
    font-family: 'Noto Serif', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.midbanner{
    border-radius: 100px;
    margin: 100px;
    background-color: black;
}
