.dv{
    margin: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.271);
    /* box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4), 0 10px 22px 0 rgba(0, 0, 0, 0.21);   */
}

.up{
    text-align: center;
    font-size: 3rem;
    color: #4C4C4C;
    font-weight: 100;
    margin: 2% 7% 3%;
    padding: 5% 20% 2%;
}

.fill{
    text-align: center;
    padding-bottom: 50px;
}

.button{
    color: #FFFFFF;
    font-size: 1.25rem;
    background-color: #192E47;
    border-radius: 3px;
    max-width: 150px;
    padding: 13px 4px;
}

.button:hover{
    cursor: pointer;
}